{% extends 'base.html.twig' %}

{% block title %}Listes des opérations{% endblock %}
{% block button %}

    <div class="btn-group dropend my-3">
        <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false">
            Effectuer une opération <i class="mdi mdi-chevron-right"></i>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app_operation_new', { type: 'achat-vente' }) }}">Achat - Vente</a>
            <a class="dropdown-item" href="{{ path('app_operation_new', { type: 'depot' }) }}">Dépôt</a>
            <a class="dropdown-item" href="{{ path('app_operation_new', { type: 'retrait' }) }}">Retrait(Espèce - Transfert)</a>
        </div>
    </div>

{% endblock %}
{% block body %}

    <table class="table datatable">
        <thead class="table-secondary">
            <tr>
                <th>N°</th>
                <th>Type Opération</th>
                <th>MontantSource</th>
                <th>MontantCible</th>
                <th>Taux utilisé</th>
                <th>Sens</th>
                <th>Effectuée le</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ operation.typeOperation }}</td>
                <td>{{ operation.montantSource }} {{ operation.deviseSource.codeIso }}</td>
                <td>{{ operation.montantCible }} {{ operation.deviseCible.codeIso }}</td>
                <td>{{ operation.taux }}</td>
                <td>{{ operation.sens }}</td>
                <td>{{ operation.createdAt ? operation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ operation.updatedAt ? operation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_operation_show', {'id': operation.id}) }}">show</a>
                    <a href="{{ path('app_operation_edit', {'id': operation.id}) }}">edit</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
