<!doctype html>
<html lang="fr">

<head>

    <meta charset="utf-8" />
    <title> {% block title %} Bienvenue {% endblock %} | MySwap - Money Change</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}">



    {{ include('partials/head-css.html.twig') }}

</head>

<body>
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary bg-soft">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">
                                        {% block pageTitle %}
                                            Bienvenue
                                        {% endblock %}
                                    </h5>
                                    <p>{% block description %}Connectez-vous à votre compte{% endblock %}</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="{{ asset('images/profile-img.png') }}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="auth-logo">
                            <a href="{{ path('app_dashboard') }}" class="auth-logo-light">
                                <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{{ asset('images/mini-logo-noir.png') }}" alt="" class="rounded-circle" height="34">
                                            </span>
                                </div>
                            </a>

                            <a href="{{ path('app_dashboard') }}" class="auth-logo-dark">
                                <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{{ asset('images/mini-logo-noir.png') }}" alt="" class="rounded-circle" height="40">
                                            </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">

                            {% block body %}
                            {% endblock %}
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">

                    <div>

                        <div>
                            <p>© {{ date()|date('Y') }} MySwap - Money Change. Conçu par <i class="mdi mdi-heart text-danger"></i> par SECS SARL</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end account-pages -->

{{ include('partials/vendor-scripts.html.twig') }}

<!-- App js -->
<script src="{{ asset('app.js') }}"></script>
</body>
</html>
