<li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Gestion des Opérations</h6>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-currency-usd"></em></span> {# ni-currency remplacé par mdi-currency-usd #}
        <span class="nk-menu-text">Opérations</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_operation_index') }}" class="nk-menu-link"><span class="nk-menu-text">Toutes les opérations</span></a></li>

    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-swap-horizontal"></em></span> {# ni-swap remplacé par mdi-swap-horizontal #}
        <span class="nk-menu-text">Appro. Agences</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_appro_agence_index') }}" class="nk-menu-link"><span class="nk-menu-text">Historique des approvisionnements</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_appro_agence_en_attente') }}" class="nk-menu-link"><span class="nk-menu-text">Demandes en attente</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-bank-transfer-in"></em></span> {# ni-coins remplacé par mdi-bank-transfer-in #}
        <span class="nk-menu-text">Appro. Caisses</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_appro_caisse_index') }}" class="nk-menu-link"><span class="nk-menu-text">Historique des approvisionnements</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_appro_caisse_en_attente') }}" class="nk-menu-link"><span class="nk-menu-text">Demandes en attente</span></a></li>
    </ul>
</li>
<li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Administration</h6>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-office-building"></em></span> {# ni-building remplacé par mdi-office-building #}
        <span class="nk-menu-text">Agences</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_agence_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des agences</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_agence_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter une agence</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-bank"></em></span> {# ni-bank remplacé par mdi-bank #}
        <span class="nk-menu-text">Banques</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_banque_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des banques</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_banque_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter une banque</span></a></li>
    </ul>
</li>
<li class="nk-menu-item">
    <a href="{{ path('app_pays_compte_bancaire_index') }}" class="nk-menu-link">
        <span class="nk-menu-icon"><em class="icon mdi mdi-bank-check"></em></span> {# ni-bank-check remplacé par mdi-bank-check #}
        <span class="nk-menu-text">Comptes Bancaires</span>
    </a>
</li>
<li class="nk-menu-item">
    <a href="{{ path('app_compte_general_index') }}" class="nk-menu-link">
        <span class="nk-menu-icon"><em class="icon mdi mdi-wallet-outline"></em></span> {# ni-wallet remplacé par mdi-wallet-outline (ou mdi-wallet) #}
        <span class="nk-menu-text">Compte Général</span>
    </a>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-account-group"></em></span> {# ni-users remplacé par mdi-account-group #}
        <span class="nk-menu-text">Clients</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_client_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des clients</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_client_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter un client</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-format-list-bulleted-type"></em></span> {# ni-list remplacé par mdi-format-list-bulleted-type #}
        <span class="nk-menu-text">Types de clients</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_type_client_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des types</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_type_client_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter un type</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-cash-multiple"></em></span> {# ni-sign-kobo remplacé par mdi-cash-multiple #}
        <span class="nk-menu-text">Devises</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_devise_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des devises</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_devise_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter une devise</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-earth"></em></span> {# ni-globe remplacé par mdi-earth #}
        <span class="nk-menu-text">Pays</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_pays_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des pays</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_pays_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter un pays</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-card-account-details-outline"></em></span> {# ni-id-card remplacé par mdi-card-account-details-outline #}
        <span class="nk-menu-text">Pièces d’identité</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_piece_identite_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des pièces</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_piece_identite_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter une pièce</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-currency-exchange"></em></span> {# ni-exchange remplacé par mdi-currency-exchange #}
        <span class="nk-menu-text">Taux de change</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_taux_change_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des taux</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_taux_change_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter un taux</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-account-circle-outline"></em></span> {# ni-users remplacé par mdi-account-circle-outline (ou mdi-account-multiple) #}
        <span class="nk-menu-text">Utilisateurs</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_user_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des utilisateurs</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_register') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter un utilisateur</span></a></li>
    </ul>
</li>
