<li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Gestion des Opérations</h6>
</li>
<li class="nk-menu-item">
    <a href="{{ path('app_compte_agence_index') }}" class="nk-menu-link">
        <span class="nk-menu-icon"><em class="icon mdi mdi-wallet"></em></span> {# ni-wallet remplacé par mdi-wallet #}
        <span class="nk-menu-text">Compte Agence</span>
    </a>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-cash"></em></span> {# ni-cash remplacé par mdi-cash #}
        <span class="nk-menu-text">Gestion des Caisses</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_affectation_caisse_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des Affectations</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_affectation_caisse_new') }}" class="nk-menu-link"><span class="nk-menu-text">Nouvelle Affectation</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-swap-horizontal"></em></span> {# ni-swap remplacé par mdi-swap-horizontal #}
        <span class="nk-menu-text">Appro. Agences</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_appro_agence_index') }}" class="nk-menu-link"><span class="nk-menu-text">Historique des approvisionnements</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_appro_agence_en_attente') }}" class="nk-menu-link"><span class="nk-menu-text">Demandes en attente</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-bank-transfer-in"></em></span> {# ni-coins remplacé par mdi-bank-transfer-in (ou mdi-cash-plus) #}
        <span class="nk-menu-text">Appro. Caisses</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_appro_caisse_index') }}" class="nk-menu-link"><span class="nk-menu-text">Historique des approvisionnements</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_appro_caisse_en_attente') }}" class="nk-menu-link"><span class="nk-menu-text">Demandes en attente</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-currency-usd"></em></span> {# ni-currency remplacé par mdi-currency-usd (ou une autre devise spécifique) #}
        <span class="nk-menu-text">Opérations</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_operation_index') }}" class="nk-menu-link"><span class="nk-menu-text">Toutes les opérations</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_operation_new', { type: 'achat-vente' }) }}" class="nk-menu-link"><span class="nk-menu-text">Achat / Vente</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_operation_new', { type: 'depot' }) }}" class="nk-menu-link"><span class="nk-menu-text">Versement</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_operation_new', { type: 'retrait' }) }}" class="nk-menu-link"><span class="nk-menu-text">Retrait</span></a></li>
    </ul>
</li>
<li class="nk-menu-item">
    <a href="{{ path('app_pret_index') }}" class="nk-menu-link">
        <span class="nk-menu-icon"><em class="icon mdi mdi-cash-multiple"></em></span>
        <span class="nk-menu-text">Prêts</span>
    </a>
</li>
<li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Administration</h6>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-autorenew"></em></span>
        <span class="nk-menu-text">Taux de change</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_taux_change_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des taux</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_taux_change_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter un taux</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-cash-multiple"></em></span>
        <span class="nk-menu-text">Devises</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_devise_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des devises</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_devise_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter une devise</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-cash-minus"></em></span> {# Changé de mdi-receipt-minus à mdi-cash-minus pour une icône plus directe de "moins d'argent" #}
        <span class="nk-menu-text">Dépenses</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_depense_index') }}" class="nk-menu-link"><span class="nk-menu-text">Toutes les dépenses</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_depense_new') }}" class="nk-menu-link"><span class="nk-menu-text">Nouvelle dépense</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_type_depense_index') }}" class="nk-menu-link"><span class="nk-menu-text">Catégories de dépenses</span></a></li>
    </ul>
</li>
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon mdi mdi-card-account-details-outline"></em></span>
        <span class="nk-menu-text">Pièces d’identité</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item"><a href="{{ path('app_piece_identite_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des pièces</span></a></li>
        <li class="nk-menu-item"><a href="{{ path('app_piece_identite_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter une pièce</span></a></li>
    </ul>
</li>
