{% extends 'base.html.twig' %}

{% block title %}Compte Agence{% endblock %}
{% block button %}
    <a href="{{ path('app_compte_agence_new') }}" class="btn btn-outline-primary">Ajouter un compte</a>

{% endblock %}

{% block body %}


    <table class="table datatable">
        <thead class="table-secondary">
            <tr>
                <th>N°</th>
                <th>Devise</th>
                <th>Solde Initial </th>
                <th>Solde Restant</th>
                <th>Sueil Alerte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte_agence in compte_agences %}
            <tr>
                <td>{{loop.index }}</td>
                <td>{{ compte_agence.devise.codeIso }}</td>
                <td>{{ compte_agence.soldeInitial }}</td>
                <td>{{ compte_agence.soldeRestant }}</td>
                <td>{{ compte_agence.sueilAlerte }}</td>
                <td>
                    <a href="{{ path('app_compte_agence_show', {'id': compte_agence.id}) }}" class="btn btn-outline-primary">Gérer</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
