{% extends 'base.html.twig' %}

{% block title %}Remboursement index{% endblock %}

{% block body %}
    <h1>Remboursement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MontantRembourse</th>
                <th>DateRemboursement</th>
                <th>TypePaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remboursement in remboursements %}
            <tr>
                <td>{{ remboursement.id }}</td>
                <td>{{ remboursement.montantRembourse }}</td>
                <td>{{ remboursement.dateRemboursement ? remboursement.dateRemboursement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ remboursement.typePaiement }}</td>
                <td>
                    <a href="{{ path('app_remboursement_show', {'id': remboursement.id}) }}">show</a>
                    <a href="{{ path('app_remboursement_edit', {'id': remboursement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_remboursement_new') }}">Create new</a>
{% endblock %}
