{% extends 'base.html.twig' %}

{% block title %}ProfilClient{% endblock %}

{% block body %}
    <h1>ProfilClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_client.id }}</td>
            </tr>
            <tr>
                <th>NumeroProfilCompte</th>
                <td>{{ profil_client.numeroProfilCompte }}</td>
            </tr>
            <tr>
                <th>IsActif</th>
                <td>{{ profil_client.isActif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ profil_client.createdAt ? profil_client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_client_index') }}">back to list</a>

    <a href="{{ path('app_profil_client_edit', {'id': profil_client.id}) }}">edit</a>

    {{ include('profil_client/_delete_form.html.twig') }}
{% endblock %}
