{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}
{% block button %}
    <a href="{{ path('app_client_new') }}" class="btn btn-outline-primary">Create new</a>

{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Contact</th>
                <th>Email</th>
                <th>RegistreCommerce</th>
                <th>Profession</th>
                <th>CreatedAt</th>
                <th>Ifu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenoms }}</td>
                <td>{{ client.contact }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.registreCommerce }}</td>
                <td>{{ client.profession }}</td>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.ifu }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-outline-primary">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
