{% extends 'base.html.twig' %}

{% block title %}AffectationCaisse index{% endblock %}

{% block body %}
    <h1>AffectationCaisse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation_caisse in affectation_caisses %}
            <tr>
                <td>{{ affectation_caisse.id }}</td>
                <td>{{ affectation_caisse.dateDebut ? affectation_caisse.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ affectation_caisse.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_affectation_caisse_show', {'id': affectation_caisse.id}) }}">show</a>
                    <a href="{{ path('app_affectation_caisse_edit', {'id': affectation_caisse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_affectation_caisse_new') }}">Create new</a>
{% endblock %}
