{% extends 'base.html.twig' %}

{% block title %}Liste des pièces d'identité{% endblock %}
{% block button %}
    <a href="{{ path('app_piece_identite_new') }}" class="btn btn-outline-primary">Create new</a>

{% endblock %}

{% block body %}


    <table class="table datatable-init table-hover">
        <thead class="table-secondary">
            <tr>
                <th>N°</th>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece_identite in piece_identites %}
            <tr>
                <td>{{ piece_identite.id }}</td>
                <td>{{ piece_identite.libelle }}</td>
                <td>
                    <a href="{{ path('app_piece_identite_show', {'id': piece_identite.id}) }}">show</a>
                    <a href="{{ path('app_piece_identite_edit', {'id': piece_identite.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
