<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu Principal</li>

                <li>
                    <a href="{{ path('app_dashboard') }}" class=" waves-effect">
                        <i class="mdi mdi-home-circle"></i> {# Retour à l'original bx home-circle, mdi équivalent #}
                        <span key="t-dashboards">Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_bilan') }}" class="waves-effect">
                        <i class="mdi mdi-file-chart"></i> {# Icône pour rapport / bilan #}
                        <span key="t-bilans">Bilans</span>
                    </a>
                </li>

                {% if is_granted('ROLE_CAISSE') %}

                    {{ include('partials/_caisse_sidebar.html.twig') }}

                {% elseif is_granted('ROLE_RESPONSABLE') %}
                    {{ include('partials/_agence_sidebar.html.twig') }}

                {% elseif is_granted('ROLE_ADMIN') %}
                    {{ include('partials/_admin_sidebar.html.twig') }}

                {% endif %}

                <li class="menu-title" key="t-settings">Paramètres du Compte</li>

                <li>
                    <a href="{{ path('app_profil') }}" class="waves-effect">
                        <i class="mdi mdi-account-box"></i> {# MDI pour le profil/compte #}
                        <span key="t-file-manager">Mon compte</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}" class="waves-effect">
                        <i class="mdi mdi-logout"></i> {# MDI pour la déconnexion #}
                        <span key="t-file-manager">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
