{% extends 'base.html.twig' %}

{% block title %}Liste des comptes caisse{% endblock %}
{% block button %}
    <a href="{{ path('app_compte_caisse_new') }}" class="btn btn-outline-primary">Ajouter un compte</a>
{% endblock %}

{% block body %}

    <table class="table datatable-init">
        <thead class="table-secondary">
            <tr>
                <th>N°</th>
                <th>Devise</th>
                <th>Solde Initial</th>
                <th>Solde Restant</th>
                <th>Seuil Alerte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte_caisse in compte_caisses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ compte_caisse.devise.codeIso }}</td>
                <td>{{ compte_caisse.soldeInitial|number_format(0, ',', ' ') }}</td>
                <td>{{ compte_caisse.soldeRestant|number_format(0, ',', ' ') }}</td>
                <td>{{ compte_caisse.seuilAlerte|number_format(0, ',', ' ') }}</td>
                <td>
                    <a href="{{ path('app_compte_caisse_show', {'id': compte_caisse.id}) }}" class="btn btn-outline-primary">Gérer</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
